img {
    width: 100px;
    border-radius: 10px;
  }
  
  .form-margin {
    margin-bottom: 12px;
  }
  
  .cart-item {
    float: right;
    width: 50%;
  }
  
  .cart-item-details {
    display: grid;
    justify-content: center;    
    align-items: left;
    margin-left: 80px;
  }
  
  .number-input {
    width: 80px;
    text-align: center;
  }
  
  .cart-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
  }
  
  .cart-panel {
    margin-left: 50px;
    margin-right: 50px;
  }