.product-image {
  list-style-type: none;
  width: 290px;
  padding: 20px;
  margin: 6px 6px;
  border: 1px solid rgb(15, 170, 170);
}

.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.select-input {
  width: 108px;
  margin-bottom: 8px;
}

p {
  margin: 0px 0px 10px 0px;
}

button {
  margin-top: 10px;
  font-family: 'Merriweather', serif;
  font-size: 12px;
  color: white;
  background-color:rgb(15, 170, 170);
  padding: 5px;
  border-radius: 5px;
  border-color: rgb(15, 170, 170);
}
